---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@lib/utils";

export interface Props extends Omit<HTMLAttributes<"a">, "href"> {
  href: string;
  external?: boolean;
  underline?: boolean;
  group?: boolean;
}

const {
  href,
  external,
  underline = true,
  group = false,
  class: className,
  ...rest
} = Astro.props as Props & { class?: string };

const isExternal = external ?? /^(https?:)?\/\//.test(href);
const isAbsoluteInternal = !isExternal && href?.startsWith("/");
const resolvedHref = isAbsoluteInternal
  ? `${import.meta.env.BASE_URL}${href.replace(/^\//, "")}`
  : href;
---

<a
  href={resolvedHref}
  target={isExternal ? "_blank" : "_self"}
  class={cn(
    "inline-block decoration-black/30 hover:decoration-black/50 focus-visible:decoration-black/50 dark:decoration-white/30 dark:hover:decoration-white/50 dark:focus-visible:decoration-white/50  hover:text-cyan-500 focus-visible:text-black dark:hover:text-orange-500 dark:focus-visible:text-white transition-colors duration-300 ease-in-out",
    underline && "underline underline-offset-[3px]",
    group && "group",
    className
  )}
  {...rest}
>
  <slot />
</a>
